test_text:
  label: 'Text file'
  description: ''
  type: 'text'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.txt'
test_html:
  label: 'HTML file'
  description: ''
  type: 'html'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.html'
test_csv:
  label: 'CSV file'
  description: ''
  type: 'csv'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.csv'
test_yaml:
  label: 'YAML file'
  description: ''
  type: 'yaml'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.yml'
test_json:
  label: 'JSON file'
  description: ''
  type: 'json'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.json'
test_md:
  label: 'MarkDown file'
  description: ''
  type: 'markdown'
  verb: 'get'
  abs_path: false
  module: 'xtcfile'
  path: 'example/demo.md'
